.title_african_economy{
    text-align: center;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.291667px; 
    color: #1B1717;
}
.matters{
    text-align: center;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 158.2%;
    letter-spacing: 22.7917px;
    color: #7B7B7B;
    margin-top: -18px;
    padding-left: 22px;
}
#connexion{
    background: #E5E5E5;
}
.container-nav{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
    padding: 30px;
}
.left_page{
    background: #BB4411;
border-radius: 10px;
padding-top: 98px;


}
.title_page_left{
    padding-left: 10%;
}
.bienvenue_sur{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 101.7%;
    display: flex;
    align-items: center;
    letter-spacing: 0.315em;
    color: #FFFFFF;
}
.afri_eco_mat{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 101.7%;
    display: flex;
    align-items: center;
    letter-spacing: 0.315em;
    
    color: #FFFFFF;
}
.sous_title_left{
    padding-left: 10%;
    padding-top: 10%;
}
.les_investissements{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 130.2%;
    display: flex;
    align-items: center;
    letter-spacing: -0.025em; 
    color: #FFFFFF;
}
.right_page{
    background: #FFFFFF;
border-radius: 10px;
padding-top: 5%;
padding-bottom: 5%;
}
.connectez{

}
.connectez_vous{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 47px;
text-align: center;
color: #000000;
}
.formulaire_connexion{
width: 100%;
overflow: hidden;
font-size: 20px;
padding: 8px 0;
border-bottom: 1px solid;
}
.form-i{
    color: darkgrey;
    justify-items: end;
    width: 26px;
    float: left;
    text-align: center;
    padding-top: 6px;
}
.form-input-password{
    border: none;
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 17px;
text-align: center;
color: rgba(0, 0, 0, 0.6);   
}
.form-input-identifiant{
    border: none;
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 17px;
padding-left: 25px;
color: rgba(0, 0, 0, 0.6);   
}
.row-formulaire{
    padding: 10%;
}
.identifiant{
    padding-left: 10%;
    padding-bottom: 5%;
    padding-top: 10%;
}
.pass{
    text-decoration: none;
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 17px;
text-align: end;
color: rgba(0, 0, 0, 0.6);
}
.no_connexion{
    text-decoration: none;
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 17px;
padding-top: 10%;
text-align: center;
color: rgba(0, 0, 0, 0.6);
}
.mot_de_passe{
    padding-left: 10%;
    padding-bottom: 5%;
}
.mon_boutton{
    text-align-last: center;
    padding-top: 10%;
}


#inscription{
    background: #E5E5E5;
}
.right_page_inscription{
    background: #FFFFFF;
    border-radius: 10px;
    padding: 5%;
}
.inscrire{
    padding-bottom: 10%;

}
.instrivez_vous{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    text-align: center;
    color: #000000;
}
.nom_et_email{
    justify-content: space-between;
    padding-bottom: 10%;
  
}
.nom{
    width: 45%;
}
.email{
    width: 45%;

}
.form-input-inscription{
    width: 100%;
    padding: 10px 0;
    border: none;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    border-bottom: 1px solid #E0E0E0 !important;
    border-top: none;
    border-left: none;
    border-right: none;
    color: rgba(0, 0, 0, 0.6);
}
.mot_de_passe_et_confirme{
    justify-content: space-between;
    padding-bottom: 10%;
 
}
.mot_de_passe_inscrip{
    width: 45%;
}
.confirme_mot_de_passe{
    width: 45%;
}

.raison_form_num{
    justify-content: space-between;
    padding-bottom: 10%;

}
.raison_sociale
{
width: 30%;
}
.forme_juridique{
    width: 30%;
}
.num_siren{
    width: 30%;
}
.accepter_terme{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 17px;
text-align: center;
color: rgba(0, 0, 0, 0.6);
padding-top: 4px;
}
.accepter_couleur{
    color: #BB4411;
    text-decoration: none;
}
.couleur_bordure{
    border-color: #BB4411 !important;
}
.form-accepte{
    padding-bottom: 10%;
}
.mon_boutton_inscription{
    text-align-last: center;
    padding-bottom: 5%;
 
}
.no_connexion_inscription{
    text-decoration: none;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    padding-top: 0%;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}
.personne_morale{
    background: url(img/img_select.png) 100% 15% / 13px no-repeat #fff !important;
    appearance: none;
    border: #fff !important;
    padding-bottom: 10%;
}
.form_select{
    width: 97%;
    appearance: none;
    padding: 10px 0;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    border-bottom: 1px solid #E0E0E0 !important;
    border-top: none;
    border-left: none;
    border-right: none;
    color: rgba(0, 0, 0, 0.6);
}