.container-nav{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
}
.title_african_economy{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.291667px;
    color: #1B1717;
}

.mon_boutton{
    padding-left: 30%;
}
.matters{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 158.2%;
    letter-spacing: 22.7917px;
    color: #7B7B7B;
}
.form-boutton-nav{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
color: #FFFFFF;
}
.form-ul-nav{
}
.accueil-nav{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 17px;
letter-spacing: 0.291667px;
color: #BB4411 !important;
}
.form_li_nav{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.291667px;
    color: rgba(0, 0, 0, 0.7) !important;
}
.containe-ul{
    max-inline-size: max-content;
}
.form-container-nav{
    padding-left: 8% !important;
    padding-right: 6% !important;
}
#soyez_un_acteur_du_dev{
    background: #BB4411;
    position: relative;
    padding-top: 10%;
    padding-bottom:20%;
}
.container-acteur-du-dev{

}
.titre_row_acteur_du_dev{
    position: absolute;
    z-index: 999999999;
}
.grand_rectangle_im_left{
    position: relative;
    top: 5%;
    z-index: 999;
    right: 15%;
border-radius: 10px;
transform: rotate(0.28deg);
}
.petit_rectangle_im_left{
    position: absolute;
    z-index: 99;
    padding-left: 26%;
    top: 11%;
}
.texte_titre{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 50px;
line-height: 130.2%;
display: flex;
align-items: center;
letter-spacing: -0.025em;
color: #FFFFFF;
}
.commenr_investir_et_soumettre_projet{
    padding-top: 10%;
    justify-content: space-between;
    display: flex;
}
.im_blanc_right{
    left: 82%;
    position: absolute;
    z-index: 99;
    top: 71%;
}
.im_rouge_right{
    position: absolute;
    z-index: 99;
    top: 53%;
}
.commencer_investir{

}
.soumettre_projet{

}
.forme_carousel_datacenter{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 29px;
line-height: 38px;
display: flex;
letter-spacing: -0.025em;
color: #FFFFFF;
}
.texte_carousel_datacenter{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 22px;
display: flex;
letter-spacing: -0.025em;
color: #DEDEDE;
}
.btn :focus{
    box-shadow: none !important;
}
.mon_carousel{
    padding-left: 15%;
    position: absolute;
    z-index: 99999999;
    right: 7%;
}
.boutton_carousel_datacenter{
    border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 10px;
margin-right: 68% !important;
}
.carousel-caption{
    
    text-align: left !important;
}
.form_du_contenu_car{
    padding-bottom: 10% !important;
}
.item_carousel{
    justify-content: right;
}
#form-boutton-commencer-investir{
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;
color: #212121;
background: #FFFFFF;
border-radius: 10px;
padding: 16px;
}
#form-boutton-soumettre-projet{
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;
color: #FFFFFF;
background: #FF8754;
border-radius: 10px; 
padding: 16px;
}
.rectangle_rouge_right{
    background: #E66E3B;
border-radius: 10px;
position: absolute;
}
.rectangle_blanc_right{
    background: #FFFFFF;
border-radius: 10px;
position: absolute;
}
.image_right{
    background: linear-gradient(0.2deg, #000000 0.18%, rgba(255, 255, 255, 0) 101.72%), url(""), #C4C4C4;
border-radius: 10px;
position: absolute;

}
#projet_en_cours_de_campagne{
padding-top: 5%;
padding-bottom: 5%;
}
.container-projet-en-cours{
    
}
.title_projet_encours{

}
.form_title_projet_encours{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 62px;
display: flex;
align-items: center;
letter-spacing: -0.025em;
color: #000000;
}
.sous_title_projet_encours{

}
.form_sous_title_projet_encours{
    font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #444150;
}


#form-feche{
    background: #130F40 !important;
    margin-left: 400% !important;
}
.forme_title_card{
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 31px;
display: flex;
align-items: center;
letter-spacing: -0.025em;
color: #000000;
}
.forme_p_card{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
display: flex;
align-items: center;
letter-spacing: -0.025em;
color: #737373;
}
.form_progress{
    height: 3px !important;
    background:#FFFFFF;
    border-radius: 10px;
}
.card_pourcentage{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 17px;
display: flex;
align-items: center;
letter-spacing: -0.025em;
color: #BB4411;
}
.card_prix{
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 17px;
display: flex;
align-items: center;
letter-spacing: -0.025em;
color: #BB4411;
}
.forme_progress_bar{
    background: #BB4411;
border-radius: 10px;
}
.forme_footer{
    padding-top: 30px;
}
.forme_heure{
    
}
.p_heure {
    padding-top: 5px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    color: rgb(106, 106, 106);
    padding-left: 5px;
}
#forme_des_cards{
    background: #FFFFFF;
border-radius: 15px;
}
.forme_voir_projets{
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23px;
display: flex;
text-decoration: none;
align-items: center;
letter-spacing: -0.025em;
color: #BB4411;
opacity: 0.41;
}
.col-forme-voir-projets{
    padding-top: 40px;
    display: flex;
    justify-content: center;
}
.forme_eam_en_chiffre_title{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
padding-bottom: 30px;
font-size: 48px;
line-height: 62px;
display: flex;
align-items: center;
letter-spacing: -0.025em;
color: #000000;
}
#eam_en_chiffre{
    padding-bottom: 5%;
}
.forme_icone{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 62px;
display: flex;
align-items: center;
letter-spacing: -0.025em;
color: #DDDDDD;
padding-top: 45px;
justify-content: center;
}
.forme_personne_vue{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 62px;
display: flex;
padding-top: 65px;
align-items: center;
justify-content: center;
letter-spacing: -0.025em;
color: #000000;
}
.forme_projet_ligne{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
justify-content: center;
font-size: 18px;
line-height: 23px;
display: flex;
align-items: center;
letter-spacing: -0.025em;
color: rgba(0, 0, 0, 0.6);
}
#forme_card_eam_en_chiffre{
    background: #FFFFFF;
border: 1px solid #BB4411;
box-sizing: border-box;
border-radius: 10px;
}
.forme_font_notre_fierte{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 62px;
display: flex;
align-items: center;
letter-spacing: -0.025em;
color: #000000;
padding-top: 60px;
}
#adresse_data_center{
    background: linear-gradient(90.97deg, #4D1902 16.88%, #912D02 94.18%);
}
#forme_card_data_center{
    background: #000000;
border-radius: 10px;
}
.row-card-data-center{
    padding-top: 50px;
    padding-bottom: 50px;
}
.forme_titre_data_center{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 31px;
display: flex;
align-items: center;
letter-spacing: -0.025em;
color: #FFFFFF;
}
.forme_texte_data_center{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
display: flex;
align-items: center;
letter-spacing: -0.025em;
color: #DEDEDE;
}
.contenu_data_center{
padding-top: 222px;
}
#nos_utilisateurs{
  
    padding-top: 80px;
    padding-bottom: 80px;
}
.text_nos_utilisateurs{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 62px;
display: flex;
align-items: center;
letter-spacing: -0.025em;
color: #000000;
}
.row-nos-utilisateurs{

}
.image_identite{
}
.mon-image-identite{
  padding-left: 3px;
    margin-top: -35%;
}
.nom_identite{

}
.forme_nom_identite{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 33px;
padding-top: 15px;
padding-left: 30px;
color: #000000;
}
.image_left_quote{
    text-align: center;
}
.left_quote{

}
button:focus{
    box-shadow: none !important;
}
.row-carourel-nos-utilisateurs{
    padding: 5%;
}
.texte_de_nos_clients{
    padding-top: 30px;
    padding-left: 10px;

}
.forme_texte_de_nos_clients{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: #000000;
}
#forme_card_nos_utilisateurs{
    background: #FFFFFF;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
border-radius: 10px;
}
.carousel-indicators button{
    background: rgba(196, 196, 196, 0.43) !important;
border-radius: 20px !important;
}
#souhaite_investir{
    background: #230B01;
    padding-top: 50px;
    padding-bottom: 50px;
}
.contenu_text_souhaiter_investir{
    padding-left: 5%;
}
.text_souhaiter_investir{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 29px;
letter-spacing: -0.3px;
color: #FFFFFF;
}
.entete_souhaier_investir{
    padding-left: 50%;
    align-items: baseline;
    display: flex;

}
.boutton_souhaiter_investir{
    padding-left: 8%;
}
.forme_hr{
    border: 1px solid #FFFFFF;
    background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.1;
}
.forme_souscrire_notre{

}
.titre_formulaire{

}
.forme_du_titre_formulaire{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 29px;
letter-spacing: -0.3px;
color: #FFFFFF;
}
.form-input-formulaire{
    width: 100%;
    padding: 10px 0;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
letter-spacing: -0.204545px;
color: #FFFFFF;
background: #230B01;
mix-blend-mode: normal;
opacity: 0.5;
border-bottom: 1px solid #FFFFFF;
}
.boutton_formulaire{
    background: url(img/boutton.png) 60% 50% / 8px no-repeat rgb(187, 68, 17) !important;
    width: 50px;
    height: 50px;
    border-radius: 8px 8px 0px 0px;
}
.mon_formulaire{
    display: flex !important;
}
.qui_somme_nous{

}
.forme_qui_somme_nous{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 22px;
letter-spacing: -0.231818px;
color: #BB4411;
}
.forme_p_qui_somme_nous{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
letter-spacing: -0.204545px;
color: #FFFFFF;
}
.qui-somme-et-domaine{
    padding-left: 30px;
}
.domaine{
    padding-left: 40px;
}
.comment_marche_et_sortie_et_besoin_aide{
    justify-content: space-between;
}


}
.comment_marche{

}
.sortie{

}
.besoin_aide{

}
.mention_legal_et_cgu{
    justify-content: space-evenly;
}
.row-pied-page{
    padding-top: 20px;
}
.contenu_logo{
    justify-content: end;
}
.facebook{
    padding-right: 25px;
}
.twetter{
    padding-right: 25px;
}
.edition{
    text-align: center;
}
@media screen and (max-width: 992px) and (max-width: 768px) and (max-width: 576px) {
#monforme {
    color: rgba(255,255,255,.55);
    border-color: #BB4411 !important;
    background: #BB4411 !important;
}
.mon-image-identite {
    padding-left: 3px;
    margin-top: 0 !important;
}

.texte_de_nos_clients {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
}
#nos_utilisateurs {
    padding-top: 40px;
    padding-bottom: 40px;
}
.texte_titre{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    text-align: justify;
    padding: 5px;
    line-height: 130.2%;
    display: flex;
    align-items: center;
    letter-spacing: -0.025em;
    color: #FFFFFF;
}
.mon_carousel{
    padding-top: 40px;
    padding-left: 0;
    padding-bottom: 40px;
}

.carousel-petit-ecran{
    padding-top: 20%;
}
.commenr_investir_et_soumettre_projet{
    display: none !important;
}
.carousel-grand-ecran{
    display: none;
}
.carousel-detatail-grand-ecran{
    display: none;
}
.carousel-addresse-data-center-grand-ecran{
    display: none;
}
.carousel-nos-utilisateurs-grand-ecran{
    display: none;
}
.im_rouge_right{
    display: none !important;
}
.im_blanc_right{
    display: none !important;
}
.commenr_investir_et_soumettre_projet_phone{

}
#adresse_data_center {
    background: linear-gradient(90.97deg, #4D1902 16.88%, #912D02 94.18%);
    padding-top: 10%;
    padding-bottom: 10%;
}
.commencer_investir {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.entete_souhaier_investir{
    display: none !important;
}
.entete_souhaier_investir_petit_ecran{
    
}
.soumettre_projet {
    text-align: center;
}
}

@media screen and (min-width: 992px) {
    .commenr_investir_et_soumettre_projet_phone{
        display: none;
    }
    .carousel-petit-ecran{
        display: none;
    }
    .carousel-detatail-petit-ecran{
        display: none;
    }
    .carousel-addresse-data-center-petit-ecran{
        display: none;
    }
    .carousel-nos-utilisateurs-petit-ecran{
        display: none;
    }
    .entete_souhaier_investir_petit_ecran{
        display: none;
    }

}